version: '3.9'
services:
  backend:
    build: .
    container_name: backend
    ports:
      - "3000:3000"
    depends_on:
      mysql:
        condition: service_healthy
    env_file:
      - .env
    restart: always

  mysql:
    image: mysql:8.0.39-slim   # smaller image (~450 MB)
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: sqlroot1238
      MYSQL_DATABASE: cropx_db
    ports:
      - "3307:3306"  # host:container
    volumes:
      - mysql-data:/var/lib/mysql
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  mysql-data:
