version: '3.9'

services:
  backend:
    build: .
    container_name: backend
    ports:
      - "3001:3000"
    depends_on:
      mysql:
        condition: service_healthy
    env_file:
      - .env   
    restart: always

  mysql:
    image: mariadb:10.11
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: sqlroot1238
      MYSQL_DATABASE: cropx_db
    volumes:
      - mysql-data:/var/lib/mysql
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -uroot -psqlroot1238 || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 20   

volumes:
  mysql-data:
